body {
    height: 100%;
    width: 100%;
}

#bigTitle,
#porjectSite,
#author {
    text-align: center;
}

#tilesArea {
    width: 30%;
    margin: auto;
    padding: 0;
    border: 5px solid red;
    border-radius: 5px;
}

.tiles {
    float: left;
    padding: 0%;
    margin: 0%;
    border: 1px solid black;
}

.lastTiles {
    clear: left;
}

#controlPanel {
    float: left;
    width: 15%;
    margin: auto;
    align-content: center;
    top: 10px;
    margin-left: 5%;
    border: 1px solid black;
}

#gridNumber {
    display: block;
}

#colorPanel {
    float: right;
    align-content: center;
    margin-right: 5%;
    width: 15%;
    border: 1px solid black;
}

.colorButtons {
    width: 50px;
    height: 30px;
}